@import "../../styles/colors.scss";

.inputWrap {
  margin-top: 16px;
  display: flex;
  position: relative;
  align-items: center;

  input {
    flex-grow: 1;
  }

  .status, .status2 {
    position: absolute;
    right: 8px;
    font-size: 80px;
    color: red;
    cursor: help;
  }

  .status2 {
    font-size: 20px;
  }
}